# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# VSCode files
.vscode/

# Pytest cache
.pytest_cache/

# MacOS files
.DS_Store

# Logs
*.log
